.places__paragraph {
    margin: 0;
    font-size: 18px;
    line-height: 1.67;
    font-style: normal;
    font-weight: 400;
    max-width: 484px;
    text-align: left;
}

.places__paragraph:nth-of-type(2) {
    padding-top: 24px;
}