.photo-grid__block {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, 284px);
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .photo-grid__block {
        gap: 14px;
        grid-template-columns: repeat(auto-fill, 300px);
    }
}

@media screen and (max-width: 768px) {
    .photo-grid__block {
        gap: 16px;
        grid-template-columns: repeat(auto-fill, 352px);
    }
}

@media screen and (max-width: 375px) {
    .photo-grid__block {
        gap: 12px;
        grid-template-columns: repeat(auto-fill, 288px);
    }
}