.photo-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, 284px);
    padding-top: 92px;
    align-self: stretch;
    justify-content: center;
    align-content: center;
}