.intro__list {
    margin: 0;
    font-size: 12px;
    line-height: 1.5;
    font-style: normal;
    font-weight: bold;
    max-width: 690px;
    list-style: none;
    padding-left: 0;
    padding-top: 32px;
}