.lead__caption {
    margin: 0;
    font-size: 10px;
    line-height: 1.4;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    max-width: 159px;
    padding-top: 8px;
}