.intro__block {
    width: 984px;
}

@media screen and (max-width: 1024px) {
    .intro__block {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .intro__block {
        max-width: 720px;
    }
}