.footer__copyright {
    margin: 0;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
    font-weight: 400;
}

@media screen and (max-width: 690px) {
    .footer__copyright {
        font-size: 12px;
    }
}

@media screen and (max-width: 583px) {
    .footer__copyright {
        padding-top: 48px;
        line-height: 1;
    }
}