.places__card {
    list-style: none;
    padding-left: 0;
    margin: 0;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .places__card {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .places__card {
        max-width: 720px;
    }
}