.cover__block {
    position: relative;
    background: url(../../../images/cover-trains.jpg) center/cover no-repeat;
    height: 740px;
    width: 1184px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

@media screen and (max-width: 1024px) { 
    .cover__block {
        width: 1024px;
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__block {
        width: 768px;
        height: 480px;
    }
}