.cover__title {
    font-size: 72px;
    line-height: 1.06;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    margin: 0;
    max-width: 560px;
    position: absolute;
    top: 34%;
    left: 26.35%;
    z-index: 3;
}