.lead__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead__container {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead__container {
        max-width: 768px;
    }
}

@media screen and (max-width: 375px) {
    .lead__container {
        max-width: 375px;
    }
}

@media screen and (max-width: 320px) {
    .lead__container {
        max-width: 320px;
    }
}