.places__website {
    align-self: end;
    justify-self: start;
    grid-row: 1;
    grid-column: 2;
    max-width: 456px;
}

@media screen and (max-width: 768px) {
    .places__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .places__website {
        display: none;
    }
}