.places__website {
    align-self: end;
    justify-self: start;
    grid-row: 1;
    grid-column: 2;
    max-width: 456px;
}

@media screen and (max-width: 768px) {
    .places__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 583px) {
    .places__website {
        grid-row: 2;
        grid-column: 1;
        min-width: 288px;
        margin: 0 auto;
    }
}